body {
  font-family: HeLvetica;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #20B152;
  font-style: bold;
  text-align: center;
  margin-top: 50px;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  border: none;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #20B152;
  color: #fff;
  border: none;
  cursor: pointer;
}

#msg {
  text-align: center;
  margin-top: 20px;
}

#mensajes {
  text-align: center;
  margin-top: 20px;
}

.grid-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
}

.grid-item {
  background-color: #dce1ed; 
  padding: 10px; 
  text-align: center; 
  width: 20px;
  height: 20px;
  font-family: Helvetica;
  font-weight: bold;
  border-radius: 10px;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
#msg {
  font-size: 24px;
  font-weight: bold;
  color: #20B152;
}

#msg.ganaste {
  color: green;
}

#msg.perdiste {
  color: red;
}

.green {
  background-color:#66f066;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.gray {
  background-color:#e4e1e1;
}